alabaster==0.7.12
appdirs==1.4.3
atomicwrites==1.3.0
attrs==19.3.0
Babel==2.7.0
backcall==0.1.0
black==18.9b0
CacheControl==0.12.5
cachy==0.2.0
certifi==2019.9.11
chardet==3.0.4
cleo==0.6.8
Click==7.0
commonmark==0.9.1
decorator==4.4.0
docutils==0.15.2
h11==0.8.1
h2==3.1.1
hpack==3.0.0
hstspreload==2019.10.22
html5lib==1.0.1
httpx==0.7.5
hyperframe==5.2.0
idna==2.8
imagesize==1.1.0
importlib-metadata==0.23
ipython==7.8.0
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.15.1
Jinja2==2.10.3
jsonschema==3.1.1
lockfile==0.12.2
MarkupSafe==1.1.1
more-itertools==7.2.0
msgpack==0.6.2
nsre==0.1.0
packaging==19.2
parso==0.5.1
pastel==0.1.1
pendulum==2.0.5
pexpect==4.7.0
pickleshare==0.7.5
pkginfo==1.5.0.1
pluggy==0.13.0
poetry==0.12.17
prompt-toolkit==2.0.10
ptyprocess==0.6.0
py==1.8.0
Pygments==2.4.2
pylev==1.3.0
pyparsing==2.4.2
pyrsistent==0.14.11
pytest==5.2.1
python-dateutil==2.8.0
pytz==2019.3
pytzdata==2019.3
recommonmark==0.6.0
requests==2.22.0
requests-toolbelt==0.8.0
rfc3986==1.3.2
shellingham==1.3.1
six==1.12.0
snowballstemmer==2.0.0
Sphinx==2.2.0
sphinxcontrib-applehelp==1.0.1
sphinxcontrib-devhelp==1.0.1
sphinxcontrib-htmlhelp==1.0.2
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.2
sphinxcontrib-serializinghtml==1.1.3
toml==0.10.0
tomlkit==0.5.8
traitlets==4.3.3
urllib3==1.25.6
wcwidth==0.1.7
webencodings==0.5.1
zipp==0.6.0
