name: Release Python package

on:
    push:
        tags:
            - "[0-9][0-9][0-9][0-9].[0-9][0-9]?.[0-9]+[ab]?[0-9]?[0-9]?[0-9]?[0-9]?"

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3
            - name: Build and publish to pypi
              uses: JRubics/poetry-publish@v1.17
              with:
                  pypi_token: ${{ secrets.PYPI_TOKEN }}
